[importlinter]
root_package = application
include_external_packages = True

[importlinter:contract:domain-models]
name=Domain Models doesn´t import anything outside Domain Models
type=forbidden
source_modules=
    application.models
forbidden_modules=
    application.services.domain
    application.services.infrastructure
    application.migrations
    django
    python-dotenv
    simplejson
    requests
    coverage
    import-linter
    pytest
    unittest-xml-reporting
    django_rest_framework
    drf-spectacular
    wiremock
    locust
    mysqlclient

[importlinter:contract:domain-services]
name=Domain Services doesn´t import anything outside Domain Models and Domain Services
type=forbidden
source_modules=
    application.services.domain
forbidden_modules=
    application.services.infrastructure
    application.migrations
    django
    coverage
    import-linter
    requests
    pytest
    unittest-xml-reporting
    django_rest_framework
    drf-spectacular
    wiremock
    locust
    mysqlclient

[importlinter:contract:infrastructure-services]
name=Infrastructure Services doesn´t import Domain Models only accesses them via Domain Services (allow indirect imports / Import chains)
type=forbidden
source_modules=
    application.services.infrastructure
forbidden_modules=
    application.models
    application.services.domain
    application.migrations
    coverage
    import-linter
allow_indirect_imports=True


[importlinter:contract:domain-interface]
name=Domain Interface Service doesn´t import Infrastructure and Domain Models only access Domain Models via Domain Services (allow indirect imports / Import chains)
type=forbidden
source_modules=
    application.services.domain_interface
forbidden_modules=
    application.models
    application.services.infrastructure
    application.migrations
    coverage
    django
    import-linter
allow_indirect_imports=True

[importlinter:contract:infrastructure-interface]
name=Infrastructure Interface Service doesn´t import Domain and Domain Models 
type=forbidden
source_modules=
    application.services.infrastructure_interface
forbidden_modules=
    application.models
    application.services.domain
    application.migrations
    coverage
    import-linter

[importlinter:contract:outer-ring]
name=API and Views etc doen´t import anything but infrastructure services or infrastructure interfaces
type=forbidden
source_modules=
    application.api
    application.api_tests
    application.api_urls
    application.urls
    application.admin
    application.admin
forbidden_modules=
    application.models
    application.services.domain
    application.migrations
allow_indirect_imports=True

[importlinter:contract:Main-domain-independence-contract]
name = Main Domain services are independent (Main: electricity, flight, fuel_combustion, carbon and shipping - supportive: distance_unit_service, transport_service, weight_unit_service) 
type = independence
modules =
    application.services.domain.electricity_service
    application.services.domain.flight_service
    application.services.domain.fuel_combustion_service
    application.services.domain.shipping_service
    application.services.domain.carbon_service

[importlinter:contract:Main-domain-models-independence-contract]
name = Main Domain models are independent (Main: electricity, flight, fuel_combustion, carbon, activity and shipping) 
type = independence
modules =
    application.models.electricity
    application.models.activity
    application.models.flight
    application.models.fuel
    application.models.shipping
    application.models.carbon